body {
	font-family: $main_font;
	font-size: 16px;
}

h1, h2, h3 {
	text-align: center;
	font-size: 40px;
}

p {
  text-align: justify;
  line-height: 25px;
  font-size: 18px;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 100px 20px;
}


.button {
  width: 171px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  background: $btnColor;
  color: $mainColor;
  font-size: 16px;
	font-family: $main_font;
	text-transform: uppercase;
	box-sizing: border-box;
  border: 2px solid $btnColor;
  cursor: pointer;
  transition: .3s;
}


//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media only screen and (max-width: 400px) {}

@media only screen and (min-width: 401px) and (max-width: 480px) {}

@media only screen and (min-width: 481px) and (max-width: 992px) {}

@media only screen and (min-width: 993px) {}
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++